---
title: 资源站
---
<div id="article" aos="zoom-in">
	<h1 align="center"><span>时</span>间</h1>
	
	<canvas id="time" width="200" height="200"></canvas>
	
	<div class="time-h3 moatext_lens"><h3 align="center">岁月你别催 · 该来的我不推</h3></div>
</div>
<div id="article" aos="zoom-in">
	<h1 align="center"><span>最近</span>更新</h1>
	<ul class="posts">
	{% for post in paginator.posts %}
		<li>
		<span class="blog-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></span>
		<span class="blog-time"><time class="pull-right post-list">{{ post.date | date_to_string | date: "%b %-d, %Y"  }}</h4></time></span>
		</li>
	{% endfor %}
	</ul>

	{% if paginator.total_pages > 1 %}
		<!-- 分页代码 -->
		{% if paginator.previous_page %}
		<!-- <a href="/index.html">首页</a> -->
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上一页</a>
		{% endif %}
		
<!-- 			{% for page in paginator.total_pages %}
				{% if page == paginator.page %}
				  <span class="active">{{ page }}</span>
				{% elsif page == 1 %}
				  <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
				{% else %}
				  <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
				{% endif %}
			{% endfor %} -->
		<!-- <span>{{ paginator.page }}/{{ paginator.total_pages }}</span> -->
		{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页</a>
			<!-- <a href="/page{{ paginator.total_pages }}">尾页</a> -->
		{% endif %}

	{% endif %}

</div>

<script src="{{ site.baseurl }}/js/time.js"></script>
<script src="{{ site.baseurl }}/js/jquery.moatext-min.js"></script>

<!--<canvas id="welcome"></canvas>
<script src="{{ site.baseurl }}/js/welcome.js"></script>-->

<script type="text/javascript">
    function browserRedirect() {
        var sUserAgent = navigator.userAgent.toLowerCase();
              
        var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
        var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
        var bIsMidp = sUserAgent.match(/midp/i) == "midp";
        var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
        var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
        var bIsAndroid = sUserAgent.match(/android/i) == "android";
        var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
        var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
        if (bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM){
			//alert("请登录PC端查看全部功能~");
//          window.location.href="{{ site.baseurl }}/blog.html";
        }
    }
    browserRedirect();
</script>
