<!-- Bootstrap core JavaScript-->
<script src="{{ site.baseurl }}/share/js/jquery-1.10.2.min.js"></script>
<script src="{{ site.baseurl }}/share/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/share/js/hc.js"></script>
<script src="{{ site.baseurl }}/share/js/mouse.js"></script>
<script src="{{ site.baseurl }}/share/js/sweet-alert.min.js"></script>
<script src="{{ site.baseurl }}/share/js/dpflow.js"></script>
<script src="{{ site.baseurl }}/share/js/dpflow-func.js"></script>
<script src="{{ site.baseurl }}/share/js/danceword.js"></script>
<script src="{{ site.baseurl }}/share/js/aos.js"></script>
<script src="{{ site.baseurl }}/share/js/gotop.js"></script>
<script src="{{ site.baseurl }}/share/js/baguetteBox.js"></script>
<script async="" src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>

